In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
%matplotlib inline

In [2]:
df_p = [pd.read_csv(file,index_col="ts") for file in glob.glob('./Raw Data/Chiller1_power/*.csv')]
df_t = [pd.read_csv(file,index_col="ts") for file in glob.glob('./Raw Data/Chiller1_temp/*.csv')]
df_e = [pd.read_csv(file,index_col="ts") for file in glob.glob('./Raw Data/Chiller1_evaflow/*.csv')]
df_c = [pd.read_csv(file,index_col="ts") for file in glob.glob('./Raw Data/Chiller1_conflow/*.csv')]

In [3]:
tab_p=pd.concat(df_p).sort_index()
tab_p=tab_p[["ch1Watt","ch2Watt","ch3Watt","totalPositiveWattHour"]]

tab_t=pd.concat(df_t).sort_index()
tab_t=tab_t[["value1","value2","value3","value4"]]
tab_t.columns=["temp1","temp2","temp3","temp4"]

tab_e=pd.concat(df_e).sort_index()
tab_e=tab_e[["flowRate","flowSpeed","totalFlowRate"]]
tab_e.columns=["e.flowRate","e.flowSpeed","e.totalFlowRate"]

tab_c=pd.concat(df_c).sort_index()
tab_c=tab_c[["flowRate","flowSpeed","totalFlowRate"]]
tab_c.columns=["c.flowRate","c.flowSpeed","c.totalFlowRate"]

In [4]:
tab_e[tab_e['e.totalFlowRate']<0]

                         e.flowRate  e.flowSpeed  e.totalFlowRate
ts
2017-07-25 00:09:03.427  220.466461     3.284412      -2130685116
2017-09-27 11:05:17.788    0.000000     0.000000      -1795122789

In [5]:
tab_e.loc['2017-07-25 00:09:03.427','e.totalFlowRate']=217369

In [6]:
tab_e.loc['2017-09-27 11:05:17.788','e.totalFlowRate']=300511

In [7]:
tab_e.describe()

          e.flowRate    e.flowSpeed  e.totalFlowRate
count  293430.000000  293430.000000    293430.000000
mean       40.050261       0.596651    244886.809065
std        82.215534       1.224811     61839.150211
min         0.000000       0.000000    124807.000000
25%         0.000000       0.000000    179300.000000
50%         0.000000       0.000000    257998.000000
75%        14.230552       0.212000    303488.750000
max       233.577560       3.479735    318853.000000

In [8]:
tab_c[tab_c['c.totalFlowRate']<190000]

                           c.flowRate   c.flowSpeed  c.totalFlowRate
ts
2017-05-10 14:39:24.901  1.409711e-38  2.258878e+15             2304
2017-06-18 21:10:17.948  0.000000e+00  0.000000e+00      -1717895015

In [9]:
tab_c.loc['2017-05-10 14:39:24.901','c.totalFlowRate']=218047

In [10]:
tab_c.loc['2017-06-18 21:10:17.948','c.totalFlowRate']=239261

In [11]:
tab_c.describe()

          c.flowRate   c.flowSpeed  c.totalFlowRate
count  293416.000000  2.934160e+05    293416.000000
mean       39.229280  7.698551e+09    311754.166719
std        85.851586  4.170142e+12     61696.059725
min         0.000000  0.000000e+00    190527.000000
25%         0.000000  0.000000e+00    243881.000000
50%         0.000000  0.000000e+00    327736.000000
75%         0.000000  0.000000e+00    371635.000000
max       237.545517  2.258878e+15    377397.000000

In [12]:
tables=[tab_p,tab_t,tab_e,tab_c]

In [13]:
for i in tables:
    i.index=pd.DatetimeIndex(i.index)
    i.index=i.index.map(lambda x:x.replace(minute=0,second=0,microsecond=0))
print(tab_p.shape,tab_t.shape,tab_e.shape,tab_c.shape)

(295954, 4) (301943, 4) (293430, 3) (293416, 3)

In [14]:
result_p = tab_p.groupby('ts').mean()
result_p['totalPositiveWattHour'] = tab_p['totalPositiveWattHour'].groupby('ts').min()-tab_p['totalPositiveWattHour'].min()

In [15]:
result_t = tab_t.groupby('ts').mean()

In [16]:
result_e = tab_e.groupby('ts').mean()
result_e['e.totalFlowRate'] = tab_e['e.totalFlowRate'].groupby('ts').min()-tab_e['e.totalFlowRate'].min()

In [17]:
result_c = tab_c.groupby('ts').mean()
result_c['c.totalFlowRate'] = tab_c['c.totalFlowRate'].groupby('ts').min()-tab_c['c.totalFlowRate'].min()

In [18]:
all_days = pd.date_range(result_p.index.min(), result_p.index.max(), freq='H')
results=[result_p,result_t,result_e,result_c]
for j in results:
    

In [19]:
c1_final=result_p.merge(result_t,left_index=True, right_index=True).merge(result_e,left_index=True, right_index=True).merge(result_c,left_index=True, right_index=True)

In [20]:
c1_final

,ch1Watt,ch2Watt,ch3Watt,totalPositiveWattHour,temp1,temp2,temp3,temp4,e.flowRate,e.flowSpeed,e.totalFlowRate,c.flowRate,c.flowSpeed,c.totalFlowRate
ts,,,,,,,,,,,,,,
2017-05-01 00:00:00,54214.357143,50918.589286,52073.500000,0.0,12.421112,16.275228,29.816259,26.318716,207.265389,3.087748,0,221.046209,1.902006,0
2017-05-01 01:00:00,30305.392857,26247.803571,28257.714286,156600.0,8.701223,11.235682,28.610714,26.630606,225.610802,3.361050,210,229.764071,1.977019,223
2017-05-01 02:00:00,17133.333333,13040.438596,14700.964912,240400.0,9.398168,11.133499,24.589259,23.434271,225.662504,3.361820,436,227.765573,1.959823,453
2017-05-01 03:00:00,16940.946429,12807.750000,14721.910714,285500.0,9.646420,11.378396,24.020174,22.869687,225.772536,3.363459,662,226.770818,1.951264,681
2017-05-01 04:00:00,17188.875000,12808.803571,14656.392857,328800.0,9.635645,11.379343,24.020132,22.866923,225.691767,3.362256,887,226.592686,1.949731,907
2017-05-01 05:00:00,16945.678571,12466.750000,14402.232143,372900.0,9.629237,11.337331,24.011765,22.855352,225.746851,3.363077,1113,226.745203,1.951043,1134
2017-05-01 06:00:00,16603.649123,12479.912281,14180.140351,416800.0,9.649531,11.341425,24.088670,22.923890,225.746214,3.363067,1339,227.088373,1.953996,1361
2017-05-01 07:00:00,16495.392857,12647.303571,13958.267857,460200.0,9.770068,11.498785,24.638595,23.468194,225.557999,3.360263,1565,228.571231,1.966755,1588
2017-05-01 08:00:00,19042.535714,15032.482143,16486.642857,504100.0,10.199966,12.068100,25.710246,24.391658,226.132657,3.368824,1790,226.783416,1.951372,1816
2017-05-01 09:00:00,21667.377358,17758.981132,18804.245283,554100.0,10.325928,12.402267,26.782914,25.358506,226.198033,3.369798,2016,228.967189,1.970162,2043
2017-05-01 10:00:00,22446.672414,18349.982759,19468.586207,611600.0,10.296809,12.470245,27.680741,26.223654,226.128861,3.368768,2243,230.158710,1.980415,2272
2017-05-01 11:00:00,23150.160714,19009.267857,20363.821429,671700.0,10.316747,12.530060,28.079148,26.564917,226.246162,3.370515,2469,228.734994,1.968164,2502
2017-05-01 12:00:00,24707.517857,20931.946429,21693.910714,733800.0,10.401886,12.707566,29.099515,27.544593,226.159433,3.369223,2695,229.073719,1.971079,2731
2017-05-01 13:00:00,25145.857143,21301.982143,22110.053571,800400.0,10.366040,12.714989,29.368354,27.808363,226.259837,3.370719,2921,230.449604,1.982918,2960
2017-05-01 14:00:00,24119.105263,20385.105263,21399.929825,868000.0,10.305532,12.633133,28.467408,26.877162,226.391335,3.372678,3147,227.847980,1.960532,3191
2017-05-01 15:00:00,24451.803571,20470.875000,21456.767857,933800.0,10.314264,12.626099,29.260818,27.674939,226.490960,3.374162,3374,229.782313,1.977176,3419
2017-05-01 16:00:00,24857.017857,20567.660714,21640.732143,1000200.0,10.318527,12.592366,29.617412,28.081996,226.391605,3.372682,3604,231.677921,1.993487,3648
2017-05-01 17:00:00,24398.368421,20189.263158,21119.789474,1067000.0,10.343984,12.557297,29.441351,27.947414,226.499651,3.374292,3827,231.049615,1.988081,3880
2017-05-01 18:00:00,23129.750000,18828.982143,19705.000000,1132700.0,10.337219,12.465083,28.554993,27.113928,226.364139,3.372273,4053,228.000246,1.961842,4111
2017-05-01 19:00:00,22504.875000,17966.625000,19139.232143,1193900.0,10.306956,12.390671,27.652080,26.243948,226.198262,3.369802,4283,229.817830,1.977482,4339
2017-05-01 20:00:00,22308.839286,17418.732143,18811.339286,1252800.0,10.283457,12.402954,27.264176,25.853018,226.207383,3.369937,4506,230.503500,1.983382,4569
2017-05-01 21:00:00,21180.000000,16523.929825,18428.947368,1310700.0,10.245183,12.273178,27.093278,25.699031,225.933490,3.365857,4732,230.611432,1.984310,4799
2017-05-01 22:00:00,20393.107143,16323.232143,17882.571429,1366000.0,10.201747,12.224223,26.886597,25.548605,226.032720,3.367335,4958,229.988508,1.978950,5030
2017-05-01 23:00:00,19571.232143,15479.142857,17277.053571,1420100.0,10.110966,12.103282,26.883187,25.560036,226.044940,3.367517,5184,230.012834,1.979160,5260
2017-05-02 00:00:00,18105.000000,13453.821429,15544.017857,1471900.0,9.986165,11.842371,26.617432,25.439301,225.532427,3.359882,5410,229.409849,1.973971,5490
2017-05-02 01:00:00,17848.157895,13642.210526,15785.350877,1519500.0,9.944768,11.751693,26.274983,25.092997,225.350347,3.357170,5635,228.071994,1.962460,5720
2017-05-02 02:00:00,17742.392857,13531.482143,15560.696429,1566300.0,9.939702,11.736984,25.926006,24.723486,225.289671,3.356266,5861,226.556425,1.949419,5948
2017-05-02 03:00:00,17855.285714,13635.821429,15705.017857,1613000.0,9.929377,11.732534,25.955913,24.761404,225.307879,3.356537,6086,226.537923,1.949260,6174
2017-05-02 04:00:00,17837.175439,13616.368421,15556.912281,1659600.0,9.944153,11.725591,26.017864,24.853618,225.154788,3.354256,6311,226.918381,1.952533,6401
2017-05-02 05:00:00,17729.732143,13567.839286,15432.750000,1706000.0,9.960708,11.712774,26.207098,25.064749,225.303198,3.356467,6537,227.850409,1.960553,6628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-11-29 18:00:00,347.250000,0.000000,359.100000,118936100.0,11.164144,10.690613,25.463665,25.651348,14.109903,0.210203,193755,0.000000,0.000000,186870
2017-11-29 19:00:00,351.391304,0.000000,361.739130,118936800.0,10.924581,10.441386,25.420940,25.555726,13.809870,0.205733,193769,0.000000,0.000000,186870
2017-11-29 20:00:00,347.833333,0.000000,357.500000,118937500.0,10.793838,10.327606,25.317803,25.498582,13.962135,0.208002,193782,0.000000,0.000000,186870
2017-11-29 21:00:00,346.809524,0.000000,355.333333,118938300.0,10.351833,9.886960,25.257139,25.438718,13.915245,0.207303,193796,0.000000,0.000000,186870
2017-11-29 22:00:00,350.080000,0.000000,360.240000,118938900.0,10.560178,10.447433,25.127886,25.317576,0.516620,0.007696,193810,0.000000,0.000000,186870
2017-11-29 23:00:00,348.612245,0.000000,358.571429,118939600.0,10.586199,11.089303,24.993330,25.210659,0.000000,0.000000,193811,0.000000,0.000000,186870
2017-11-30 00:00:00,335.139535,0.000000,340.976744,118940400.0,10.677851,11.609296,24.870432,25.044972,0.000000,0.000000,193811,0.000000,0.000000,186870
2017-11-30 01:00:00,336.053571,0.000000,340.339286,118941000.0,10.827560,12.060470,24.761124,24.941369,0.000000,0.000000,193811,0.000000,0.000000,186870
2017-11-30 02:00:00,337.533333,0.000000,342.200000,118941700.0,10.935437,12.398571,24.639725,24.830328,0.000000,0.000000,193811,0.000000,0.000000,186870
2017-11-30 03:00:00,338.192308,0.000000,340.346154,118942400.0,11.011358,12.798275,24.518665,24.704398,0.000000,0.000000,193811,0.000000,0.000000,186870
2017-11-30 04:00:00,338.459016,0.000000,341.475410,118943100.0,11.137395,13.066306,24.363464,24.541191,0.000000,0.000000,193811,0.000000,0.000000,186870
2017-11-30 05:00:00,337.456140,0.000000,337.929825,118943800.0,11.316812,13.335362,24.184228,24.380986,0.000000,0.000000,193811,0.000000,0.000000,186870
2017-11-30 06:00:00,337.237288,0.000000,342.627119,118944400.0,11.384913,13.579619,24.038459,24.209176,0.000000,0.000000,193811,0.000000,0.000000,186870
2017-11-30 07:00:00,346.166667,0.000000,354.266667,118945100.0,11.306000,12.025553,23.936997,24.094900,4.651564,0.069297,193811,0.000000,0.000000,186870
2017-11-30 08:00:00,337.566667,0.000000,347.516667,118945800.0,11.461410,11.133677,23.921865,24.044165,14.745284,0.219669,193816,0.000000,0.000000,186870
2017-11-30 09:00:00,335.700000,0.000000,350.150000,118946500.0,11.907883,11.514104,23.927562,24.075852,15.077984,0.224625,193830,0.000000,0.000000,186870
2017-11-30 10:00:00,334.666667,0.000000,350.796296,118947200.0,12.157406,11.762401,24.083309,24.179044,15.603902,0.232460,193845,0.000000,0.000000,186870
2017-11-30 11:00:00,344.166667,0.000000,359.433333,118947900.0,12.203216,11.796087,24.219335,24.244970,14.752951,0.219783,193861,0.000000,0.000000,186870
2017-11-30 12:00:00,343.366667,0.000000,358.366667,118948600.0,11.973928,11.572495,24.237671,24.325435,14.443153,0.215168,193875,0.000000,0.000000,186870
2017-11-30 13:00:00,337.400000,0.000000,351.416667,118949300.0,11.857859,11.481705,24.309947,24.395753,17.304186,0.257790,193890,0.000000,0.000000,186870
2017-11-30 14:00:00,338.557377,0.000000,354.163934,118950000.0,11.813176,11.438090,24.260636,24.416403,20.602446,0.306926,193907,0.000000,0.000000,186870
2017-11-30 15:00:00,341.283333,0.000000,355.483333,118950700.0,11.828308,11.456248,24.169134,24.303894,21.588151,0.321611,193928,0.000000,0.000000,186870
2017-11-30 16:00:00,345.155172,0.000000,358.896552,118951400.0,11.765436,11.427507,24.063495,24.207690,22.167035,0.330235,193950,0.000000,0.000000,186870
2017-11-30 17:00:00,342.625000,0.000000,354.750000,118952100.0,11.250102,10.862294,23.926439,24.092682,18.620433,0.277399,193971,0.000000,0.000000,186870
2017-11-30 18:00:00,344.608696,0.000000,352.608696,118952800.0,10.560358,10.157144,23.802075,23.939230,14.560164,0.216911,193990,0.000000,0.000000,186870
2017-11-30 19:00:00,344.170213,0.000000,353.723404,118953500.0,10.349769,10.014426,23.623327,23.768858,13.669789,0.203646,194005,0.000000,0.000000,186870
2017-11-30 20:00:00,343.775000,0.000000,353.650000,118954200.0,10.704176,10.396321,23.468391,23.588020,13.602579,0.202645,194018,0.000000,0.000000,186870
2017-11-30 21:00:00,345.581395,0.000000,355.465116,118954800.0,10.625558,10.285584,23.273867,23.435647,13.465048,0.200596,194032,0.000000,0.000000,186870
2017-11-30 22:00:00,346.666667,0.000000,355.361111,118955500.0,10.529785,10.528870,23.077393,23.241578,0.000000,0.000000,194046,0.000000,0.000000,186870
2017-11-30 23:00:00,346.723404,0.000000,355.936170,118956200.0,10.465984,11.108444,22.894983,23.069062,0.000000,0.000000,194046,0.000000,0.000000,186870

In [21]:
c1_final.describe()

,ch1Watt,ch2Watt,ch3Watt,totalPositiveWattHour,temp1,temp2,temp3,temp4,e.flowRate,e.flowSpeed,e.totalFlowRate,c.flowRate,c.flowSpeed,c.totalFlowRate
count,5018.000000,5018.000000,5018.000000,5.018000e+03,5018.000000,5018.000000,5018.000000,5018.000000,5018.000000,5018.000000,5018.000000,5018.000000,5.018000e+03,5018.000000
mean,8245.755849,7296.812003,7919.827830,7.612493e+07,13.402915,17.310255,28.746598,28.658531,38.027254,0.566513,120760.200478,36.576841,1.875646e+10,122135.109805
std,18919.943120,17631.489272,18209.998478,4.004014e+07,3.351532,6.229809,3.506368,3.172445,78.007823,1.162126,62947.545100,81.037974,1.328667e+12,62739.749734
min,321.766667,0.000000,335.540984,0.000000e+00,5.533371,6.296005,19.380773,19.499690,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,341.500000,0.000000,351.082309,3.169428e+07,10.900921,11.838781,26.718790,26.565333,0.000000,0.000000,51177.000000,0.000000,0.000000e+00,52135.000000
50%,345.533333,0.000000,356.721767,8.971010e+07,12.772077,14.997228,29.037592,29.091806,0.000000,0.000000,144073.000000,0.000000,0.000000e+00,148364.000000
75%,350.900000,0.000000,366.896702,1.142073e+08,16.405850,23.046990,30.996794,31.024216,14.615481,0.217735,178985.500000,0.000000,0.000000e+00,181108.000000
max,75575.066667,71037.800000,72906.050000,1.189562e+08,24.037044,35.801574,38.811761,37.741675,230.199586,3.429412,194046.000000,235.573485,9.411991e+13,186870.000000

In [22]:
c1_final.info()
#May-Nov has (31 + 30 + 31 + 31 + 30 + 31 + 30)(24) = 5136 hours in total.  There should be 5136 entries

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5018 entries, 2017-05-01 00:00:00 to 2017-11-30 23:00:00
Data columns (total 14 columns):
ch1Watt                  5018 non-null float64
ch2Watt                  5018 non-null float64
ch3Watt                  5018 non-null float64
totalPositiveWattHour    5018 non-null float64
temp1                    5018 non-null float64
temp2                    5018 non-null float64
temp3                    5018 non-null float64
temp4                    5018 non-null float64
e.flowRate               5018 non-null float64
e.flowSpeed              5018 non-null float64
e.totalFlowRate          5018 non-null int64
c.flowRate               5018 non-null float64
c.flowSpeed              5018 non-null float64
c.totalFlowRate          5018 non-null int64
dtypes: float64(12), int64(2)
memory usage: 748.0 KB

In [24]:
c1_final.to_csv('Chiller1 Data (May-Nov)(Hourly).csv')